body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}

td {
	border: 2px solid #143D81;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	font-family: cursive;
	font-size: 70px;
	cursor: pointer;
}

td:hover {
	background-color: #E8E8E8;
}

table {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-bottom: 200px;
	margin-left: -155px;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.endgame {
	line-height: 2;
	display: none;
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 200px;
	padding: 50px auto;
	background-color: rgba(255, 200, 20, 0.8);
	border-radius: 10px;
	text-align: center;
	color: white;
	font-size: 2em;

}

.play-again {
	margin: 20px auto;
	text-align: center;
}

.play-again button{
	display:inline-block;
	background-color: white;
	width: 150px;
	padding: 10px 10px;
	border: 3px solid #143d81;
	border-radius: 4px;
	font-size: 20px;
	color: #143d81;
	font-weight: 600;

}

.play-again button:hover {
	background-color: #143d81;
	border: 3px solid #143d81;
	color: white;
	transition: 0.3 all;
}

.about-me {
	margin-top: 350px;
	text-align: center;
}
.about-me h3 {
	text-align: center;
	display: inline-block;
	border: 2px solid #143d81;
	border-radius: 4px;
}